.bar-chart{
    width: 60%;
    height: 380px;
    background: white;
    padding: 20px;
    border-radius: 8px;
}
.chart-header{
    display: flex;
    justify-content: space-between;
}
.chart-wrap{
    display: flex;
    flex-direction: column;
}
.chart-wrap > span:first-child{
    font-size: 20px;
    font-weight: 600;
} 
.chart-wrap > span:nth-child(2){
    font-size: 12px;
    color: #cecece;
}
.chart-drop{
    border: none;
    background: #ffffffe7;
    font-size: 12px;
    color: #cecece;
    border-radius: 8px;
}

@media only screen and (min-width: 280px) and (max-width: 479px) {
    .bar-chart {
        width: 100%;
        height: 420px;
    }
    .chart-drop{
        display: none;
    }
}
@media only screen and (min-width: 480px) and (max-width: 767px){
    .bar-chart {
        width: calc(100% - 40px);
        height: 420px;
    }    
}
@media only screen and (min-width: 768px) and (max-width: 1023px){
    .bar-chart {
        width: calc(100% - 40px);
        height: 420px;
    } 
}
@media only screen and (min-width: 1024px) and (max-width: 1199px){
    .bar-chart {
        width: calc(100% - 40px);
        height: 420px;
    } 
}