.container{
    display: flex;
    overflow: hidden;
}
.sidebar {
    width: 300px;
    height: auto;
    background: #1e096f;
    transition: width 0.4s;
}
.sidebar.close{
    width: 56px;
    height: auto;
}
.sidebar .header{
    padding: 20px 20px;
}
.inner{
    display: flex;
    align-items: center;
    font-size: 20px;
    font-weight: 500;
    color: #fff;
    gap: 6px;
}
.inner-svg{
    margin-top: 7px;
}
.sidebar nav{
    display: grid;
    margin-top: 20px;
}
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0;
    cursor: pointer;
    color: rgba(255,255,255, 0.5);
}
#active{
    color: #fff;
    border-radius: 8px;
    background: rgba(148, 148, 148, 0.3);
}
.navbar:hover{
    background: rgba(148, 148, 148, 0.3);
    border-radius: 8px;
}
.nav-inner{
    display: flex;
    align-items: center; 
    gap: 10px;
    font-size: 14px;
    font-weight: 500;
}
.navbar  svg{
    height: 15px;
    margin-top: 5px;
}
.db-main{
    width: 100%;
    overflow-y: auto;
}
.nav-footer{
    padding: 20px 20px;
    position: relative;
    top: 430px;
}
.nav-footer svg {
    color:rgba(255,255,255, 0.5);
}
.nf-box{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: rgba(148, 148, 148, 0.3);
    border-radius: 8px;
    padding: 6px 7px;
}
.nf-left{
    display: flex;
    gap: 5px;
}
.nf-text{
    display: grid;
}
.nf-text > span:first-child{
    font-size: 14px;
    font-weight: 400;
    color: #fff;
}
.nf-text > span:nth-child(2){
    font-size: 12px;
    color: rgba(255,255,255, 0.5);
}
.footer-img{
    width: 20px;
    border-radius: 50%;
    margin-top: 7px;
}

@media only screen and (min-width: 280px) and (max-width: 479px) {
    .sidebar{
        height: auto;
    }
    .db-main{
        height: 190vh;
    }
    .nav-footer{
        display: none;
    }
}
@media only screen and (max-width: 768px){
    .db-main{
        height: 169vh;
    }
    .nav-footer{
        display: none;
    }
}
@media only screen and (min-width: 769px) and (max-width: 911px){
    .db-main{
        height: 160vh;
    }
    .nav-footer{
        display: none;
    }
}
@media only screen and (max-width: 853px) {
    .db-main{
        height: 155vh;
    }
    .nav-footer{
        display: none;
    }
}
@media only screen and (min-width: 912px) and (max-width: 1023px) {
    .db-main{
        height: 151vh;
    }
    .nav-footer{
        display: none;
    }
}
@media only screen and (min-width: 1024px) and (max-width: 1199px){
    .db-main{
        height: 151vh;
    }
}
