.table-wrapper{
    background: #fff;
    border-radius: 8px;
}
.table-container{
    padding: 20px;
}
.tc-box{
    display: flex;
    justify-content: space-between;
}
.product{
    font-size: 20px;
    font-weight: 600;
}
.tc-searchead{
    display: flex;
    gap: 10px;
}
.tc-tablebox{
    margin-top: 15px;
}
.tc-tablehead{
    display: flex;
    justify-content: space-between;
    font-size: 12px;
    color: #cecece;
    font-weight: 400;
}
.tc-tableinner{
    display: flex;
    gap: 85px;
}
.divider{
    width: 100%;
    border: 1px solid #cecece;
}

.table-row{
    display: flex;
    justify-content: space-between;
}
.tc-productwrap{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
.tc-textbox > span:first-child{
    font-size: 18px;
    font-weight: 600;
}
.tc-textbox > span:nth-child(2){
    font-size: 12px;
    color: #cecece;
    font-weight: 400;
}
.tc-tabledata{
    display: flex;
    gap: 90px;
    margin-right: 5px;
}
.tc-tabledata > span:nth-child(1), .tc-tabledata > span:nth-child(3){
    font-size: 13px;
    font-weight: 400;
}
.tc-tabledata > span:nth-child(2){
    font-size: 16px;
    font-weight: 600;
}
.tc-textbox{
    display: grid;
}
.tc-image{
    width: 50px;
    border-radius: 6px;
}
@media only screen and (min-width: 280px) and (max-width: 479px) {
    .table-wrapper{
       margin-top: 350px;
    }
    .chart-drop{
        display: none;
    }
    .tc-tableinner{
        gap: 10px;
    }
    .tc-tablehead{
        font-size: 10px;
    }
    .divider{
        display: none;
    }
    .tc-tabledata{
        gap: 10px;
        margin-right: 15px;
    }
    .tc-tabledata > span:nth-child(1), .tc-tabledata > span:nth-child(3){
        font-size: 10px;
    }
    .tc-tabledata > span:nth-child(2){
        font-size: 10px;
    }
    .tc-textbox > span:first-child{
        font-size: 10px;
    }
    .tc-textbox > span:nth-child(2){
        font-size: 8px;
    }
    .tc-image{
        width: 20px;
    }
}
@media only screen and (min-width: 480px) and (max-width: 767px){
    .table-wrapper{
        margin-top: 495px;
    }
    .tc-tableinner{
        gap: 10px;
    }
    .tc-tabledata{
        gap: 15px;
        margin-right: 20px;
    }
    .tc-textbox > span:first-child{
        font-size: 14px;
    }
    .tc-textbox > span:nth-child(2){
        font-size: 10px;
    }
    .tc-image{
        width: 30px;
    }
    .tc-tabledata > span:nth-child(1), .tc-tabledata > span:nth-child(3){
        font-size: 12px;
    }
    .tc-tabledata > span:nth-child(2){
        font-size: 14px;
    }
}
@media only screen and (min-width: 768px) and (max-width: 1023px){
    .table-wrapper{
        margin-top: 495px;
    }
}
@media only screen and (min-width: 1024px) and (max-width: 1199px){
    .table-wrapper{
        margin-top: 495px;
    }
}
